name: Build APK

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: alpine:latest
    steps:
      - uses: actions/checkout@v4
      - name: Install build dependencies
        run: |
          mkdir -p /root/.abuild
          echo "${{ secrets.ALPINE_SIGNING_KEY }}" > /root/.abuild/signing.key
          ./prepare.sh
      - name: Build APK
        run: |
          su biff -c '
            cd $GITHUB_WORKSPACE
            abuild -r
          '
      - name: Upload APK artifact      
        uses: actions/upload-artifact@v4
        with:
          name: built-apk
          path: /home/biff/packages/alpine-lanwakeable/x86_64/*.apk
